// Add any custom Sass & CSS here
.top-bar{
  z-index: 999;
  top-bar.show{
    background-color: $black !important;
  }
  @include transition(.5s);
  .top-bar-left
  {
    ul{
      a{
          font-family: $nav-bar !important;
          color: $white;
          @include transition(.5s);
      }

    }
    ul.show{
      background-color: $black !important;

    }
  }

  .top-bar-right{
      ul {
          a{
            color: $white;
            font-family: $nav-bar !important;
            @include transition(.5s);
            &:hover {
              color: $orange !important;
            }
          }
      }
  }

}

.top-bar-right{
  a.highlight {
      color: $orange !important;
  }

}
.fixed{
  position: fixed;
  width: 100%;
	z-index: 999;
}

#landing {
  background: url('../data/pics/ski-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  width: 100%;

  #info{
    position: absolute;
    left: 50%;
    top: 50%;
    @include translate(-50%, -50%);
    h1{
      font-family: $header;
      font-size: 5rem;
      @media only screen and(max-width: 40em){
        font-size: 3em;
      }
    }
    span{
      font-family: $title;
      font-weight: 700;
      font-size: 2em;
      @media only screen and(max-width: 40em){
        font-size: 1em;
      }
    }

  }
}
#Section1{
  background: $white;
  min-width: 0 !important;
}
#About{
  margin-top: 2em;
  color: $grey;
  h1{
    font-family: $title !important;
    font-size: 4em;
    @media only screen and(max-width: 64em){
      font-size: 2em;
    }
  }
  p{
    font-family: $information;
    line-height: 35px;
  }
  strong{
    color: $orange !important;

  }
  a{
    color: $orange !important;
  }
}
.row{
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}
#Section2{
  /*http://robynchell.com*/
   background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.55) 17%, rgba(0, 0, 0, 0.45) 35%, rgba(0, 0, 0, 0.4) 62%, rgba(0, 0, 0, 0.4) 100%);
}

#Experience{
  color: $white;
  #title{
    h1{
      margin-top: 1em;
      font-family: $title !important;
      font-size: 3em;
      font-weight: bold;
      font-style: italic;
      @media only screen and(max-width: 64em){
        font-size: 2em;
      }
    }
  }
  #Internships{

    h1{
      color: $orange !important;
      font-family: $title !important;
      font-size: 4em;
      margin-bottom: 1em;
      @media only screen and(max-width: 64em){
        font-size: 2em;
      }
    }
    h2{
        margin-bottom: .8em;
        font-family: $title !important;
        font-size: 2rem;
        @media only screen and(max-width: 64em){
          font-size: 1.5em;
          font-weight: bold;
        }
    }
    p{
      font-family: $information;
      line-height: 35px;
    }

  }

}
// .slick-prev:before, .slick-next:before {
//     color:white !important;
// }
#Books{
  padding-bottom: 3em;
  h1{
    font-family: $title !important;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
  }
  p{
    font-family: $information;
    line-height: 35px;
    font-style: italic;
    text-align: center;
  }
  #title{
    h1{
      color: $orange !important;

      font-family: $title !important;
      font-size: 3em;
      font-style: italic;
      margin-top: .5em;
      margin-bottom: .5em;
      @media only screen and(max-width: 64em){
        font-size: 1.8em;
      }
    }
    h2{
      font-family: $information !important;
      font-size: 1.5em;
      margin-bottom: 1em;
    }

  }
  .reveal{
    background: $grey;
    h1{
      color: $orange !important;

    }
    p{
      color: $white;
    }
  }
  img{
    border:1px solid #777;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    @media only screen and(max-width: 64em){
      margin-bottom: 2em;
    }
  }

}
#Video{
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background: #efefef;
}

#footer{
	display:table;
	width: 100%;
  background: #efefef;
  height: 10%;
	#social{
			//http://css-tricks.com/centering-percentage-widthheight-elements/
			display:table-cell;
			vertical-align:middle;
      i{
        color: $dark-grey;
        &:hover{
          @include scale(1.3);
          //https://productforums.google.com/forum/#!topic/chrome/w4YlFvEMQNw
          @include transition( transform 1s ease-in-out);
          color: $blue;
        }
      }
      a{
        padding-left: .8em;
      }
	}

}
