// Add any custom Sass & CSS here
//
// body{
// 	@include breakpoint(medium down){
// 		background: red !important;
// 	}
// }

// Add any custom Sass & CSS here
.top-bar{
      -o-transition: .5s;
      -ms-transition: .5s;
      -moz-transition: .5s;
      -webkit-transition: .5s;
      transition: .5s;
  .top-bar-left a{
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
  }

  .top-bar-right a{
          -o-transition: .5s;
          -ms-transition: .5s;
          -moz-transition: .5s;
          -webkit-transition: .5s;
          transition: .5s;
          &:hover {
            color: $white;
            //color: #FFFFFF;
          }
  }

}
.top-bar{
  .top-bar-right{
    	ul {
			    a.highlight {
    		  	color: $white;
			    }
		  }
  }
}
.top-bar-right{
  a.highlight {
      color: $white;
  }

}
.fixed{
  position: fixed;
  width: 100%;
	z-index: 999;
}

#landing {
  background: url(../data/pics/ski-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  width: 100%;

  #name{
    //http://css-tricks.com/centering-percentage-widthheight-elements/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  #description{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -60%);
    -webkit-transform: translate(-50%, -60%);
    -o-transform: translate(-50%, -60%);
    -ms-transform: translate(-50%, -60%);
  }
}
.slick-prev:before, .slick-next:before {
    color:red !important;
}

#footer{
	display:table;
	width: 100%;
	#social{
			//http://css-tricks.com/centering-percentage-widthheight-elements/
			display:table-cell;
			vertical-align:middle;
      i{
        &:hover{
          @include scale(1.3);
          //https://productforums.google.com/forum/#!topic/chrome/w4YlFvEMQNw
          -webkit-transition: transform 1s ease-in-out;
              -moz-transition: transform 1s ease-in-out;
              transition: transform 1s ease-in-out;

        }
      }
	}

}
.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}
