// Insert your variables
$white			:#f6f6f6;
$nav-bar: 'Lato', sans-serif;
$header  :  'Pacifico', cursive;
$information: 'Source Sans Pro', sans-serif;
$title: 'Maven Pro', sans-serif;
$black: #222222;
$orange: #ee8710;
$white: #fff;
$grey: #777;
$dark-grey: #666;
$blue: #337ab7;
